---
/* eslint-disable @typescript-eslint/no-explicit-any */
import { createMapProjection, generateSVGPath, getProjectedBounds } from './mapProjection';
import { feature } from 'topojson-client';
import worldLandData from '../../data/world-land-110m.json' with { type: 'json' };
import MapPins from './MapPins.astro';

const projection = createMapProjection();

const topology = worldLandData;
const landObject = worldLandData.objects.land;

const landGeoJson = feature(topology as any, landObject as any);
const features = Array.isArray(landGeoJson)
  ? landGeoJson
  : 'features' in landGeoJson
    ? (landGeoJson as { features: any[] }).features
    : [landGeoJson];

const projectedBounds = getProjectedBounds(landGeoJson, projection);
const padding = 15;
const viewBoxX = projectedBounds[0][0] - padding;
const viewBoxY = projectedBounds[0][1] - padding;
const viewBoxWidth = (projectedBounds[1][0] - projectedBounds[0][0]) + (padding * 2);
const viewBoxHeight = (projectedBounds[1][1] - projectedBounds[0][1]) + (padding * 2);
const viewBox = `${viewBoxX} ${viewBoxY} ${viewBoxWidth} ${viewBoxHeight}`;
---

<div class="map-wrapper">
  <svg
    class="world-map"
    viewBox={viewBox}
    preserveAspectRatio="xMidYMid meet"
    aria-label="World map showing land masses with location pins"
    role="img"
  >
    <g class="world-map__land">
      {
        features.map((feature: any) => {
          const path = generateSVGPath(feature, projection);
          return path ? <path d={path} class="world-map__land-path"></path> : null;
        })
      }
    </g>
    <MapPins />
  </svg>
</div>

<style>
  .map-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
  }

  .world-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .world-map__land-path {
    fill: #151b21;
    stroke: #2a3642;
    stroke-width: 1px;
  }
</style>